credentials.txt
Comment Video2.mp4
test2.py
testing.py
.vscode/settings.json
Open_Sans/LICENSE.txt
Open_Sans/OpenSans-Bold.ttf
Open_Sans/OpenSans-ExtraBold.ttf
Open_Sans/OpenSans-ExtraBoldItalic.ttf
Open_Sans/OpenSans-Italic.ttf
Open_Sans/OpenSans-Light.ttf
Open_Sans/OpenSans-LightItalic.ttf
Open_Sans/OpenSans-SemiBold.ttf
Open_Sans/OpenSans-SemiBoldItalic.ttf
